<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>热点话题</title>
    <link href="../static/css/main.css" rel="stylesheet" />
    <script src="https://cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.4.0/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.4.0/map/js/china.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-wordcloud@1.1.3/dist/echarts-wordcloud.min.js"></script>
</head>

<body>
    <div id="gyroContain">
        <div id="title">热点话题属地分析</div>
        <div id="c2">我是中2</div>
        <div id="gotopaper">
            <form action="/paper">
                <button id="buttontopaper">查看文本可视化评论</button>
            </form>
        </div>
        <div id="gotoPicture">
            <form action="/picture">
                <button id="buttonPicture">词云图</button>
            </form>
        </div>
        <!-- <form action="/picture">
            <button>词云图</button>
        </form> -->
        <div id="r1">
            <div class="search bar">
                <form method="post">
                    <input placeholder="搜索某地评论" name="saddr" type="text">
                    <button type="submit"></button>
                </form>
            </div>
        </div>
        <div id="r2">我是右2</div>
    </div>
</body>

<script src="../static/js/echarts_center.js"></script>
<script src="../static/js/echarts_right2.js"></script>
<script src="../static/js/controller.js"></script>
</html>